<div id="csricodexmlab" class="container-fluid bg-3 text-center jumbotron">
    <h1 class="margin">Products</h1>
</div>

<div id="output">
    <p>
        <a style="color:white" class="btn btn-success btn-lg" href="/products/add">
            <span class="glyphicon glyphicon-plus"></span> Add a Product
        </a>
    </p>

    <div>

        <div class="form-group pull-right">
            <input type="text" id="form-control" class="search form-control" placeholder="What you looking for?">
        </div>
        <span class="counter pull-right"></span>
        <table style="width:100%" class="table table-hover results">
            <thead>
                <tr id="Heading">
                    <th>Product Name</th>
                    <th>Category Name</th>
                    <th class="editColor"></th>
                    <th class="editColor"></th>
                </tr>
                <tr class="warning no-result">
                    <td colspan="4"><i class="fa fa-warning"></i> No result</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#products}}
                        <!-- <th id="des" class="info"><span style="color:#ffb900">ID#</span> : {{id}}</th> -->

                        <th id="des" class="info">{{Product}}</th>
                        <th id="des" class="info">{{Category}}</th>
                        <td class="para"><strong><span style="color:#00adc8"><a type="button" class="btn btn-raised btn-warning" href="/products/edit/{{id}}">
      <span class="glyphicon glyphicon-edit"></span> Edit
    </a></span></strong></td>

                        <td class="para">
                            <a type="button" class="btn btn-danger" href="/products/delete/{{id}}">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </a>
                        </td>
                </tr>
            </tbody>
            {{/products}}
        </table>
    </div>
</div>


{{#no_products}}
    <p>No products available yet. Add some above.</p>
{{/no_products}}
