<div id="csricodexmlab" class="container-fluid bg-3 text-center jumbotron">
    <h1 class="margin">Register</h1>
</div>

<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form role="form" class="form-horizontal" action="/users/add" method="POST">
                        <fieldset>
                            <!-- <div id="legend">
                                <legend id="legend" class="">Register</legend>
                            </div> -->
                            <div class="control-group">
                                <!-- <label class="control-label" for="username">Username</label> -->
                                <div class="controls">
                                    <input type="text" id="username" name="username" value="{{username}}" placeholder="Username" class="form-control input">
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- <label class="control-label" for="email">E-mail</label> -->
                                <div class="controls">
                                    <input type="email" id="email" name="email" value="{{email}}" placeholder="Email" class="form-control input">
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- <label class="control-label" for="password">Password</label> -->
                                <div class="controls">
                                    <input type="password" id="password" name="password" value="{{password}}" placeholder="Password" class="form-control input">
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- <label class="control-label" for="password_confirm">Password (Confirm)</label> -->
                                <div class="controls">
                                    <input type="password" id="password_confirm" name="password_confirm" value="{{password_confirm}}" placeholder="Confirm Password"
                                        class="form-control input">
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls">
                                    <button type="reset" class="btn btn-success">Cancel</button>
                                    <button type="submit" class="btn btn-success">Register</button>
                                </div>
                            </div>
                            <p>{{messages.warning}}</p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
